.book-cover {
  border: 4px solid #787ab4;
  background-color: #c1c2dc;
  padding: 1px;
  position: relative;
  left: 15%;
  min-height: 520px; 
  width: 430px;
  text-align: center;
  font-size: 40px;
  display: inline-flex;
  flex-direction: column;
  margin-right: 40px;
}

p {
  margin: 3px;
}

#book-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  color:#2f2f2f;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 40px;
}

#author{
  font-family: "Helvetica", Arial, cursive;
  font-size: 45px;
}

#year {
  font-family: "Gill Sans", Helvetica, sans-serif;
}

div.book-facts{
position: relative;
margin-right: 15%;
text-align: center;
float: right;
}

.book-facts ul{
  list-style-type: none;
}

#number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  color: #e7728a;
}

#descriptor{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 25px;
}


.searchAgainButton button {
  font-size: 20px;
  background-color: #a6a7c1 ;
  border-color: #b8bacf;
  padding: 7px 30px;
  border-radius: 25px;
  margin-top: 80px;
}

.searchAgainButton button:hover{
  text-decoration: underline;
}