<!DOCTYPE html>
<html lang="en"></html>
<head>
    <title>Bombastic Book Besties</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datastyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='booksByAuthor.css') }}">
</head>
<body>
    <div id="page-container">  

    <nav>
        <ul id="headerTitle">
            <li><a href="/"> Bombastic Book Besties</li>
        </ul>
        
        <ul id="navButtons">
            <li><a href="/">Home</a></li>
            <li><a class = "current" href= "/search">Search the Data</a></li>
            <li><a  href="/about">About</a></li>
        </ul>
    </nav>

    <div id="content-container">
    <h1> Results </h1>

    <h2>Books by authors matching the search '{{results[1]['author'].title()}}'</h2>
    
    <div class = "container">
        <table>
            <tr>
                <th id="left-head">Author</th>
                <th id="right-head">Title</th>
            </tr>
            {% for data in results[0] %}
            <tr>
                <td id="left-col">{{data[0].title()}}</td>
                <td id="right-col"> {{ data[1].title()}} </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>

    <div class = "searchAgainButton">
        <button type="button" onclick = "location.href = '/search';">New Search</button>
    </div>
    </div>

    <div class="footer">
        <ul id="footerTitle">
            <li>Bombastic Book Besties</li>
        </ul>
        
        <ul id="footerButtons">
            <li><a href="https://www.nytimes.com/books/best-sellers/" target=”_blank”>NYT Bestseller List</a></li>
            <li><a href="mailto: vangsteins@carleton.edu">Contact</a></li>
            <li><a class="topBtn" href="#">Back to Top</a></li>
        </ul>
    </div>
    </div>
    </body>
</html>

